@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 700px) {
  header::before {
    background-image: url("../assets/desktop/image-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    max-width: 1100px;
    min-width: 500px;
  }
  .navbar {
    padding: 0 5%;
  }
  .navbar .button--mobile {
    display: none;
  }
  .navbar ul {
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    min-height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 0 auto;
    position: unset;
    padding: 0;
  }
  .navbar ul .path {
    color: var(--white);
    font-size: clamp(0.9rem, 4vw, 1rem);
    margin: 0rem 0.8rem;
    padding: 0;
  }
  .navbar ul .button--path {
    background-color: var(--white);
    max-width: 130px;
    height: 40px;
    letter-spacing: 0.04rem;
    margin: 0;
    padding: 0;
  }
  .navbar ul::before {
    all: unset;
  }
  .header-main .we-creatives {
    color: var(--white);
    font-size: clamp(1.8rem, 5vw, 2.4rem);
    font-weight: 900;
    font-family: 'Fraunces', sans-serif;
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  .header-main .arrow-down-icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    width: 100%;
    max-width: 30px;
  }
  main .text-container {
    max-width: 500px;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    padding: 0 5rem;
  }
  main .text-container .title {
    width: 100%;
  }
  main .text-container .text {
    max-width: 500px;
    width: 100%;
    margin: 2rem 0;
  }
  main .text-container .button--learn {
    width: auto;
  }
  .about-transform {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about-transform .bg-container {
    background-image: url("../assets/desktop/image-transform.jpg");
    background-size: cover;
    background-color: transparent;
    -o-object-fit: cover;
       object-fit: cover;
    width: 50%;
    height: 400px;
  }
  .about-audience {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-audience .bg-container {
    background-image: url("../assets/desktop/image-stand-out.jpg");
    background-size: cover;
    background-color: transparent;
    -o-object-fit: cover;
       object-fit: cover;
    width: 50%;
    height: 440px;
  }
  .demonstration-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .demonstration-container .demo {
    height: 550px;
  }
  .demonstration-container .demo .text {
    max-width: 500px;
    padding: 0 3rem;
  }
  .graphic-content {
    background-image: url("../assets/desktop/image-graphic-design.jpg");
  }
  .photography-content {
    background-image: url("../assets/desktop/image-photography.jpg");
  }
  .testimonials-container {
    width: 100%;
    height: 600px;
  }
  .testimonials-container .title {
    margin-bottom: 0;
  }
  .clients-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto 0;
  }
  .clients-content .client {
    max-width: 400px;
    margin: 0;
  }
  .demonstration-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .demonstration-images .image {
    height: 500px;
  }
  .demonstration-images .bg-image-1 {
    background-image: url("../assets/desktop/image-gallery-milkbottles.jpg");
  }
  .demonstration-images .bg-image-2 {
    background-image: url("../assets/desktop/image-gallery-orange.jpg");
  }
  .demonstration-images .bg-image-3 {
    background-image: url("../assets/desktop/image-gallery-cone.jpg");
  }
  .demonstration-images .bg-image-4 {
    background-image: url("../assets/desktop/image-gallery-sugarcubes.jpg");
  }
  footer {
    min-height: 300px;
    padding: 4rem 0;
  }
}
/*# sourceMappingURL=responsive.css.map */